.dataInputListBody {
  padding-left: 0!important;
  padding-right: 0!important;
  width: 100%;
}

.dataInputListScroller {
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.dataInputListTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;

  thead {
    width: 100%;

    tr {
      border-top: 1px solid $color-primary-lighter;
      border-bottom: 1px solid $color-primary-lighter;
    }

    th {
      padding: 10px 20px 10px 0;
      font-weight: 600;

      &:first-child {
        padding-left: 20px;
      }
    }
  }

  tbody {
    width: 100%;

    tr {
      border-bottom: 1px solid $color-primary-lighter;
      cursor: pointer;
    }

    td {
      padding: 10px 20px 10px 0;
      font-weight: 500;

      input {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        color: $color-font;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: inherit;

        &::placeholder {
          color: $color-font-placeholder;
        }
      }
      &:first-child {
        padding-left: 20px;
      }
    }
  }

  tfoot {
    width: 100%;

    td {
      padding: 0;
      font-weight: 500;
    }
  }
}

.dataInputListSum {
  font-size: 12px;
  font-weight: 700;
  color: $color-font;
  display: flex;

  span {
    color: $color-secondary;
  }
}

.addRowButton {
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: $color-font-lighter;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;

  sub {
    color: $color-font-lighter;
  }
}

@media (min-width: 768px) {
  .dataInputListBody {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .dataInputListTable {
    font-size: 14px;

    thead {

      th {
        padding: 15px 25px 15px 0;

        &:first-child {
          padding-left: 25px;
        }
      }
    }

    tbody {

      td {
        padding: 15px 25px 15px 0;

        input {
          background-color: transparent;
          border: none;
          width: 100%;
          height: 100%;
          padding-top: 15px;
          padding-bottom: 15px;
        }

        &:first-child {
          padding-left: 25px;
        }
      }
    }
  }

  .dataInputListSum {
    font-size: 14px;
  }

  .addRowButton {
    padding: 15px 30px;
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .dataInputListBody {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}

@media (min-width: 1700px) {
  .dataInputListBody {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
