.cardElippser {
  position: relative;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    height: 100%;
    width: 30px;
    background: #33485d;
    background: linear-gradient(90deg, transparent 0%, $color-primary-darker 100%);
    z-index: 10;
  }
}

.cardScroller {
  position: relative;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cardWrapper {
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: 1280px) {
  .inner {
    flex-direction: unset;
  }

  .cardElippser {

    &:after {
      display: none;
    }
  }
}
