.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 15px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid $color-primary;

  img {
    height: 15px;
  }
}

.footer {
  margin-top: auto;
  border-top: 1px solid $color-primary;
}

.footerLink {
  display: block;
  padding-top:10px;
}

.footerIcon {
  margin-right: 10px;
}

.nav {
  padding: 20px 0 20px 0;
}

.list {
  display: block;
}

.link {
  display: flex;
  padding: 10px 0 10px 0;
  color: $color-font;
  text-decoration: none;
  border-radius: 5px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  width: 25px;
  margin-right: 15px;
}
