.pageTitle {
  font-size: 26px;
  color: $color-font;
  font-weight: 700;
}

@media (min-width: 768px) {
  .pageTitle {
    font-size: 36px;
  }
}

@media (min-width: 1280px) {
  .pageTitle {
    font-size: 38px;
  }
}

@media (min-width: 1700px) {
  .pageTitle {
    font-size: 52px;
  }
}
