.expenses {
  max-width: 100%;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  background-color: $color-header-bg;
  border-radius: 6px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.expensesListItem {
  display: flex;
  border-top: 1px solid $color-dividers;

  &:last-child {
    border-bottom: 1px solid $color-dividers;
  }
}

.expensesListInput {
  width: 50%;
  border: none;
  font-size: 11px;
  background-color: $color-header-bg;
  color: $color-light-grayish-blue;
  padding: 10px 0 10px 25px;
  font-weight: 500;

  &:focus {
    outline: none;
  }
}

.focus .expensesListInput {
  background-color: $color-very-dark-desaturated-blue;
}

.expensesListButton {
  display: flex;
  width: 100%;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;

  &:focus {
    border-right: 1px solid $color-dividers;
    border-left: 1px solid $color-dividers;
  }
}

.expensesTitle {
  padding: 25px 20px 20px;
  color: $color-pure-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}

.addExpenseButton {
  display: flex;
  width: 100%;
  align-items: center;
  color: $color-tranparent-gray;
  font-size: 11px;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

  &::before {
    content: "";
    background-image: url("./images/plus.svg");
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .expenses {
    margin-bottom: 30px;
  }

  .expensesListInput {
    font-size: 14px;
  }

  .expensesTitle {
    padding: 30px 25px 25px;
    font-size: 16px;
  }

  .addExpenseButton {
    font-size: 14px;
    margin-top: 20px;
  }
}

@media (min-width: 1280px) {
  .expenses {
    max-width: 556px;
    margin-right: 15px;
    margin-bottom: unset;
  }
}

@media (min-width: 1700px) {
  .expenses {
    max-width: 665px;
    margin-right: 30px;
  }

  .expensesTitle {
    padding: 35px 30px;
    font-size: 18px;
  }
}
