:global {
  body {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    font-family: "Gilroy", sans-serif;
    font-weight: normal;
    background-color: $color-primary-darker;
    color: $color-font;
    font-size: 12px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  input:focus, button:focus, *[contenteditable] {
    outline: none;
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .main {
    flex-grow: 1;
  }

  .panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background-color: $color-primary;
    line-height: 1;
    @include panel-shadow;

    .panel-header {
      padding: 25px 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .panel-header-title {
        font-size: 14px;
        font-weight: 700;
        flex: 0 0 auto;
        margin-bottom: 10px;
      }

      .panel-header-subtitle {
        font-size: 12px;
        font-weight: 500;
        flex: 0 0 auto;
        text-align: left;
        text-transform: capitalize;
        color: $color-font-lighter;
      }
    }

    .panel-body {
      padding: 25px 20px;
    }

    .panel-footer {
      padding: 0 20px 25px;
    }
  }

  .label {
    display: inline-block;
    padding: 5px 15px;
    background-color: $color-primary-darkest;
    border-radius: 30px;
    font-size: 90%;
    color: $color-font;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    white-space: nowrap;

    &.label-active {
      background-color: $color-accent;
      color: $color-font;
    }
  }

  .apexcharts-canvas {
    margin: auto;
  }

  .DayPickerInput {
    width: 28px;
    height: 28px;
    z-index: 9998;

    input {
      width: 100%;
      padding: 0;
      padding-left: 28px;
      height: 100%;
      border: none;
      border-radius: 5px;
      color: $color-font;
      font-size: 14px;
      font-weight: 500;
      background-color: $color-primary;
      background-image: url('../icons/calendar.svg');
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: 8px center;
      cursor: pointer;

      &:focus {
        outline: none;
        border: none;
      }
    }

    .DayPickerInput-OverlayWrapper {
      transform: translateY(10px);
      z-index: 9998;

      .DayPickerInput-Overlay {
        left: unset;
        right: 0;
      }
    }

    .DayPicker {
      background-color: $color-primary;

      .DayPicker-wrapper {
        background-color: $color-primary;
        color: $color-font;
      }

      .DayPicker-Day--today {
        color: $color-accent;
      }
    }

    .DayPicker-TodayButton {
      color: $color-accent;
      text-align: center;
      margin: auto;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      width: 100%;
    }

    .DayPicker-Day, .DayPicker-Weekday {
      font-size: 13px;
      font-weight: 500;
    }

    .DayPicker-Caption {
      font-size: 14px;
      text-transform: capitalize;
    }

    .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
      background-color: $color-accent;
      color: $color-font;
    }

    .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
      background-color: $color-accent;
    }

    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @media (min-width: 768px) {
    .panel {

      .panel-header {
        padding: 30px 25px 0;
        flex-direction: row;
        align-items: center;

        .panel-header-title {
          font-size: 15px;
          margin-bottom: 0;
        }

        .panel-header-subtitle {
          text-align: right;
          font-size: 13px;
        }
      }

      .panel-body {
        padding: 30px 25px;
      }

      .panel-footer {
        padding: 0 25px 30px;
      }
    }

    .DayPickerInput {
      width: 220px;
      height: unset;
      transform: translateY(0px) !important;

      input {
        padding: 15px 30px;
        padding-left: 50px;
        background-size: 16px;
        background-position: 20px center;
      }
    }
  }

  @media (min-width: 1280px) {
    .panel {

      .panel-header {

        .panel-header-title {
          font-size: 16px;
        }

        .panel-header-subtitle {
          font-size: 14px;
        }
      }
    }
  }

  @media (min-width: 1700px) {
    .panel {

      .panel-header {
        padding: 35px 30px 0;

        .panel-header-title {
          font-size: 17px;
        }

        .panel-header-subtitle {
          font-size: 15px;
        }
      }

      .panel-body {
        padding: 35px 30px;
      }

      .panel-footer {
        padding: 0 30px 35px;
      }
    }
  }
}
