:global {
  .s_button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    background-color: $color-dark-desaturated-blue;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  #root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .main {
    background-color: $color-dark-desaturated-blue;
    flex-grow: 1;
  }

  .chart-tooltip {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    background-color: $color-header-bg;
    color: $color-pure-white;
    padding: 15px 10px;
    border-radius: 4px;
  }
}
