.card {
  display: flex;
  max-width: 350px;
  width: 100%;
  border-radius: 6px;
  color: $color-font;
  background-color: $color-primary;
  flex-direction: column;
  padding: 35px 30px;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}
