.card {
  display: flex;
  max-width: 350px;
  width: 100%;
  border-radius: 6px;
  color: $color-pure-white;
  background-color: $color-header-bg;
  flex-direction: column;
  padding: 35px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}