.savingsAdjuster {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  color: $color-pure-white;
  background-color: $color-header-bg;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  line-height: 1;
}

.savingsAdjusterHeader {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.savingsAdjusterHeaderTitle {
  font-size: 14px;
  font-weight: 600;
  flex: 0 0 1;
  margin-bottom: 10px;
}

.savingsAdjusterHeaderDate {
  font-size: 12px;
  font-weight: 500;
  flex: 0 0 auto;
  text-align: left;
  text-transform: capitalize;
}

.savingsAdjusterBody {
  padding: 0 20px 25px;
}

.savingsAdjusterRange {
  position: relative;

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 20px;
    background: $color-very-dark-desaturated-blue;
    outline: none;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $color-pure-white;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  input[type="range"]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $color-pure-white;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  input[type="range"]::-ms-fill-lower {
    background-color: $color-pure-orange;
  }

  .savingsAdjusterRangeFiller {
    position: absolute;
    left: 1px;
    top: 7px;
    height: 6px;
    border-radius: 20px;
    background-color: $color-pure-orange;
    z-index: 1;
    box-shadow: 0 0 10px 3px rgb(229 148 0 / 0.25);
  }
}

.savingsAdjusterInputsWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;

  div {
    flex: auto;
  }
}

.savingsAdjusterInput {
  border-bottom: 2px solid $color-tranparent-gray;
  position: relative;

  input {
    background-color: transparent;
    font-size: 24px;
    border: none;
    color: $color-pure-white;
    font-weight: bold;
    width: 100%;
    min-width: unset;
    display: block;

    &::placeholder {
      color: $color-gray;
    }
  }
}

.savingsAdjusterInputPercentage {
  flex: 0 0 75px!important;

  input {
    min-width: 75px;
  }

  &:after {
    content: '%';
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 24px;
    color: $color-pure-white;
    font-weight: bold;
    transform: translateY(-50%);
  }
}

.savingsAdjusterTextDivider {
  flex: 0 0 55px!important;
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px;
  color: $color-pure-white;
  display: flex;
  align-items: center;
  text-align: center;
}

.savingsAdjusterCalculationsWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .savingsAdjusterCalculation {
    font-size: 16px;
    font-weight: bolder;
    color: $color-pure-white;
    opacity: .2;
  }
}

@media (min-width: 768px) {
  .savingsAdjusterHeader {
    padding: 30px 25px;
    flex-direction: row;
    align-items: center;
  }

  .savingsAdjusterHeaderDate {
    text-align: right;
    font-size: 14px;
  }

  .savingsAdjusterHeaderTitle {
    margin-bottom: 0;
  }

  .savingsAdjusterBody {
    padding: 0 25px 30px;
  }

  .savingsAdjusterInput {

    input {
      font-size: 26px;
    }
  }

  .savingsAdjusterInputPercentage {

    input {
      min-width: 77px;
    }

    &:after {
      font-size: 26px;
    }
  }

  .savingsAdjusterCalculationsWrapper {

    .savingsAdjusterCalculation {
      font-size: 18px;
    }
  }
}

@media (min-width: 1280px) {
  .savingsAdjusterHeaderTitle {
    font-size: 14px;
  }

  .savingsAdjusterInput {

    input {
      font-size: 28px;
    }
  }

  .savingsAdjusterInputPercentage {

    input {
      min-width: 80px;
    }

    &:after {
      font-size: 28px;
    }
  }

  .savingsAdjusterCalculationsWrapper {
    margin-top: 25px;

    .savingsAdjusterCalculation {
      font-size: 20px;
    }
  }
}

@media (min-width: 1700px) {
  .savingsAdjusterHeader {
    padding: 35px 30px;
  }

  .savingsAdjusterHeaderTitle {
    font-size: 16px;
  }

  .savingsAdjusterHeaderDate {
    font-size: 14px;
  }

  .savingsAdjusterBody {
    padding: 0 30px 35px;
  }
}
