.savingsAdjuster {

}

.savingsAdjusterHeader {

}

.savingsAdjusterHeaderTitle {

}

.savingsAdjusterHeaderDate {

}

.savingsAdjusterBody {

}

.savingsAdjusterRange {
  position: relative;

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 20px;
    background: $color-primary-darkest;
    outline: none;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $color-font;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  input[type="range"]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $color-font;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  input[type="range"]::-ms-fill-lower {
    background-color: $color-accent;
  }

  .savingsAdjusterRangeFiller {
    position: absolute;
    left: 1px;
    top: 7px;
    height: 6px;
    border-radius: 20px;
    background-color: $color-accent;
    z-index: 1;
  }
}

.savingsAdjusterInputsWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;

  div {
    flex: auto;
  }
}

.savingsAdjusterInput {
  border-bottom: 2px solid $color-primary-lighter;
  position: relative;

  input {
    background-color: transparent;
    font-size: 24px;
    border: none;
    color: $color-font;
    font-weight: bold;
    width: 100%;
    min-width: unset;
    display: block;

    &::placeholder {
      color: $color-font-placeholder;
    }
  }
}

.savingsAdjusterInputPercentage {
  flex: 0 0 75px!important;

  input {
    min-width: 75px;
  }

  &:after {
    content: '%';
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 24px;
    color: $color-font;
    font-weight: bold;
    transform: translateY(-50%);
  }
}

.savingsAdjusterTextDivider {
  flex: 0 0 55px!important;
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px;
  color: $color-font;
  display: flex;
  align-items: center;
  text-align: center;
}

.savingsAdjusterCalculationsWrapper {
  display: flex;
  flex-direction: column;

  .savingsAdjusterCalculation {
    font-size: 16px;
    font-weight: bolder;
    color: $color-font;
    opacity: .2;
  }
}

@media (min-width: 768px) {
  .savingsAdjusterInput {

    input {
      font-size: 26px;
    }
  }

  .savingsAdjusterInputPercentage {

    input {
      min-width: 77px;
    }

    &:after {
      font-size: 26px;
    }
  }

  .savingsAdjusterCalculationsWrapper {

    .savingsAdjusterCalculation {
      font-size: 18px;
    }
  }
}

@media (min-width: 1280px) {
  .savingsAdjusterInput {

    input {
      font-size: 28px;
    }
  }

  .savingsAdjusterInputPercentage {

    input {
      min-width: 80px;
    }

    &:after {
      font-size: 28px;
    }
  }

  .savingsAdjusterCalculationsWrapper {

    .savingsAdjusterCalculation {
      font-size: 20px;
    }
  }
}

@media (min-width: 1700px) {

}
