.savingsSum {

}

.savingsSumHeader {

}

.savingsSumHeaderTitle {

}

.savingsSumBody {
  display: flex;

  span {
    font-size: 18px;
    font-weight: bolder;
    color: $color-secondary;
  }
}

@media (min-width: 768px) {

  .savingsSumBody {

    span {
      font-size: 20px;
    }
  }
}

@media (min-width: 1280px) {

  .savingsSumBody {

    span {
      font-size: 22px;
    }
  }
}

@media (min-width: 1700px) {

}
