.inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px
}

@media (min-width: 768px) {
  .inner {
    gap: 30px;
  }
}

@media (min-width: 1280px) {
  .inner {
    flex-direction: unset;
    gap: 15px;
  }
}
