$color-very-dark-orange: #402900;
$color-very-dark-green: #558900;
$color-dark-desaturated-blue: #2c3e50;
$color-soft-blue: #79abdc;
$color-bright-red: #e23c42;
$color-light-grayish-blue: #e4e7e8;
$color-soft-blue-2: #73c7e8;
$color-pure-orange: #e59400;
$color-strong-green: #85d600;
$color-grayish-blue: #b3c4d8;
$color-desaturated-dark-blue: #56799c;
$color-moderate-red: #bc3237;
$color-grayish-cyan: #bec1c1;
$color-moderate-blue: #60a6c1;
$color-strong-orange: #bf7c00;
$color-dark-green: #6daf00;
$color-dark-grayish-blue: #7e8a98;
$color-dark-desaturated-blue :#33485d;
$color-dark-red: #7c2124;
$color-dark-grayish-cyan: #989b9b;
$color-dark-moderate-blue: #4d859b;
$color-dark-orange: #7f5200;
$color-dark-grayish-blue : #4a5159;
$color-very-dark-desaturated-blue: #1e2a36;
$color-very-dark-red: #3d1012;
$color-dark-grayish-cyan: #5a5b5b;
$color-dark-desaturated-blue-2: #2e4f5b;
$color-very-dark-green: #2e4900;
$color-very-dark-grayish-blue: #2a2e33;
$color-bright-red: #fc4349;
$color-light-grayish-blue: #d7dadb;
$color-soft-blue: #6dbcdb;
$color-pure-orange-2: #ffa500;
$color-strong-green: #7dc900;
$color-very-dark-grayish-blue: #3f454c;
$color-pure-black: #000;
$color-pure-white: #fff;
$color-light-grayish-blue-2: #dee1e4;
$color-header-bg: #283848;
$color-gray: #2f4255;
$color-tranparent-gray: #3b5268;
$color-dividers: rgba(255, 255, 255, 0.1);
