//$color-primary: #2D3357;
//$color-primary-lighter: #454C76;
//$color-primary-lightest: #747BAA;
//$color-primary-darker: #252A48;
//$color-primary-darkest: #222743;
//
//$color-secondary: #FAC620;
//$color-accent: #6A07FA;
//
//$color-font: #FFFFFF;
//$color-font-lighter: #C6C9DA;
//$color-font-lightest: #575B78;
//$color-font-darker: #454C76;
//$color-font-placeholder: #454C76;
//
//$color-success: #48E260;
//$color-danger: #F45050;

$color-primary: #17314c;
$color-primary-lighter: #2a3b52;
$color-primary-lightest: #394b69;
$color-primary-darker: #172737;
$color-primary-darkest: #121f2b;

$color-accent: #6aded4;
$color-secondary: #FAC620;

$color-font: #FFFFFF;
$color-font-lighter: #8a98a5;
$color-font-lightest: #58708a;
$color-font-darker: #385067;
$color-font-placeholder: #385067;

$color-success: #64cb9f;
$color-danger: #e75854;
