$color-primary: #2D3357;
$color-primary-lighter: #454C76;
$color-primary-lightest: #747BAA;
$color-primary-darker: #252A48;
$color-primary-darkest: #222743;

$color-secondary: #FAC620;

$color-accent: #6A07FA;

$color-success: #48E260;
$color-danger: #F45050;

$color-font: #FFFFFF;
$color-font-lighter: #C6C9DA;
$color-font-lightest: #575B78;
$color-font-darker: #454C76;
$color-font-placeholder: #454C76;
