.card {
  display: flex;
  max-width: 100%;
  border-radius: 5px;
  background-color: $color-preloader;
  flex: 0 0 240px;
  height: 112px;
}

@media (min-width: 768px) {
  .card {
    padding: 30px 25px;
    flex: 0 0 390px;
    height: 137px;
  }
}

@media (min-width: 1280px) {
  .card {
    flex: 1;
    height: 136px;
  }
}

@media (min-width: 1700px) {
  .card {
    padding: 35px 30px;
    height: 156px;
  }
}
