.header {
  position: relative;
  width: 100%;
  display: flex;
  background-color: transparent;
  border-bottom: 1px solid $color-primary;
  border-top: 1px solid $color-primary;
}

.headerItem {
  padding: 20px;
  border: 1px solid $color-primary;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}

.headerNav {
  margin-right: auto;
}

.headerNavList {
  display: none;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;

  &:last-child {
    margin-right: unset;
  }

  &:last-child:after {
    display: none;
  }
}

.link {
  color: $color-font;
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.75;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.exitWrapper {
  display: none;
  align-items: center;
  margin-left: 50px;
  font-weight: 600;
}

.headerInner {
  display: flex;
  align-items: center;
  position: relative;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.mobileMenuBtn {
  display: block;

  &:focus {
    outline: none;
  }
}

.notActive {
  display: block;
}

.active {
  display: block;
}

.burgerLine {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 4px;
  background: #fff;
  transition: all 0.3s;
  position: relative;
}

.burgerLine + .burgerLine {
  margin-top: 6px;
}

.headerLogo {
  height: 15px;
}

.mobileMenu {
  position: absolute;
  width: 85%;
  height: 100vh;
  background-color: $color-primary-darkest;
  left: -100%;
  transition: left 0.6s;
  z-index: 9999;
}

.mobileMenuOpened {
  left: 0;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .headerNav {
    display: flex;
  }

  .headerNavList {
    display: flex;
  }

  .headerItem {
    padding: 25px 30px
  }

  .exitWrapper {
    display: flex;
  }

  .mobileMenu {
    width: 350px;
  }

  .mobileMenuBtn {
    display: none;
  }
}

@media (min-width: 1280px) {
  .headerLogo {
    height: 15px;
  }
}

@media (min-width: 1700px) {
  .link {
    font-size: 14px;
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 10px;
    transform: rotate(0);
  }

  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }

  50% {
    top: 10px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 10px;
    transform: rotate(0);
  }

  100% {
    bottom: 10px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 10px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 10px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
