.pageHeadline {
  width: 100%;
  margin-top: 25px;
}

.pageHeadlineFlexInner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dayPickerInputContainer {
  padding: 5px;
  background-color: red;
}

.dayPicker {
  margin-left: auto;
}

.dayPickerBtn {
  cursor: pointer;
  border: none;
  color: #ffffff;
  box-shadow: 0 30px 20px -10px rgba(17, 30, 43, 0.5);
  font-size: 14px;
  background-color: $color-primary;
  border-radius: 5px;
  padding: 15px 30px;
}

.dayPickerBtnText {
  padding-left: 15px;
}

@media (min-width: 768px) {
  .pageHeadline {
    margin-top: 35px;
  }

  .pageHeadlineFlexInner {
    margin-bottom: 25px;
  }
}

@media (min-width: 1280px) {
  .pageHeadline {
    margin-top: 40px;
  }
}

@media (min-width: 1700px) {

}
