.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  margin: 20px 0 0;
  padding: 20px 0;
  text-align: center;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
}

.footerItem {
  font-size: 10px;
  color: #fff;
  opacity: 0.4;
  margin-bottom: 15px;
  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 1280px) {
  .footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footerItem {
    font-size: 12px;
    margin-bottom: 0;
  }
}

@media (min-width: 1700px) {

}
